<%- include("top") %>
    <%- include("head") %>

        <div class="content">
            <div class="create-account-page container">

                <div class="row justify-content-center mb-3">
                    <div class="col-md-12">
                        <a href="/addDeal" class="btn btn-primary">Submit a new deal</a>
                    </div>
                </div>

                <div class="row justify-content-center mb-3">
                    <div class="col-md-12">
                        <a href="/addVoucher" class="btn btn-primary">Submit a new voucher</a>
                    </div>
                </div>

                <div class="row justify-content-center mb-3">
                    <div class="col-md-12">
                        <a href="/savedDeals" class="btn btn-primary">View saved deals</a>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <a href="/savedVouchers" class="btn btn-primary">View saved vouchers</a>
                    </div>
                </div>

            </div>
        </div>



        <%- include("foot") %>