@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

/* set up some general styles for all elements */
* {
  font-family: "Poppins", sans-serif;
  margin: 0rem;
  padding: 0;
  /* include the padding and border in an element's total width and height */
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  /* transform the first character of each word to uppercase*/
  text-transform: capitalize;
  /* provides a fluid visual effect*/
  transition: all 0.2s linear;
}

html {
  /* adjust the base font size to 62.5% (which equates to 10px for easier rem unit calculation) */
  font-size: 62.5%;
  /* hide horizontal overflow to avoid horizontal scrolling */
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

.h2,
h2 {
  color: #2b2430;
  margin-bottom: 2rem;
}

s {
  text-decoration: line-through;
  padding-left: 1rem;
}

body {
  background: #fff;
  /* set the z-index to make sure it stacks below the fixed header */
  z-index: 500;
}

a {
  text-decoration: none;
  color: #06060a;
}

/* add hover effect for all links */
a:hover {
  /* keep the color same on hover */
  color: #06060a;
}

section {
  padding: 2rem;
}

.heading {
  text-align: center;
  padding: 2rem 2rem;
  padding-bottom: 3rem;
  font-size: 3rem;
}

.button {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.5rem 2.5rem;
  font-size: 1.6rem;
  /* round the corners and add a border */
  border-radius: 0.5rem;
  border: 0.2rem solid #06060a;
  color: #06060a;
  text-decoration: none;
}

.button:hover {
  background: #32cd32;
  color: #fff;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* use a high z-index to make sure it stacks on top of everything else */
  z-index: 1000;
  /* align items in a row and space them evenly */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background: #fff;
  /* add a box shadow to create a lifted effect */
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

/* set up styles for the logo inside the header */
.header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #06060a;
  text-decoration: none;
}

.header .logo i {
  color: #06060a;
}

.header .navbar .links .menu {
  /* align items in a row */
  display: flex;
  /* ensure they take up the full height */
  height: 100%;
}

.header .navbar .links .menu li {
  list-style: none;
  text-align: center;
  /* positioned relative to the list item it's nested in */
  position: relative;
  visibility: inherit;
}

.header .navbar .links .menu .sub-menu {
  display: block;
  position: absolute;
  background-color: #fff;
  margin-top: 0.1rem;
}

.header .navbar .links .menu .sub-menu li {
  /* hide the items by default */
  display: none;
  text-align: left;
  width: 20rem;
  height: 3.5rem;
  margin-left: 1.5rem;
}

/* show sub-menu items when the parent list item is hovered */
ul:hover,
.header .navbar .links .menu li:hover .sub-menu li {
  display: block;
}

.header .navbar.show {
  right: 2rem;
  transition: 0.4s linear;
}
.header .navbar a {
  font-size: 1.7rem;
  margin: 0 1rem;
  color: #06060a;
  text-decoration: none;
}

.categories {
  font-size: 1.7rem;
}

.header .navbar a:hover {
  color: #32cd32;
}

.header .icons div {
  height: 4.5rem;
  width: 4.5rem;
  /*  defines the amount of space above and below inline elements */
  line-height: 4.5rem;
  border-radius: 0.5rem;
  background-color: #eee;
  color: #06060a;
  font-size: 2rem;
  margin-right: 0.3rem;
  text-align: center;
}

.header .icons div:hover {
  background: #32cd32;
  color: #fff;
}

/* hide the menu button by default */
#menu-btn {
  display: none;
}

#logout-button {
  height: 4.5rem;
  width: 4.5rem;
  /*  defines the amount of space above and below inline elements */
  line-height: 4.5rem;
  border-radius: 0.5rem;
  background-color: #eee;
  color: #06060a;
  font-size: 2rem;
  margin-right: 0.3rem;
  text-align: center;
}

#signout-btn {
  font-size: 2rem;
}

.header .search-form {
  position: absolute;
  top: 110%;
  right: -110%;
  width: 50rem;
  height: 5rem;
  background: #fff;
  /* round the corners */
  border-radius: 5rem;
  /* align items in a row */
  display: flex;
  align-items: center;
  /* add a box shadow to create a lifted effect */
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.header .search-form.show {
  right: 2rem;
  transition: 0.3s linear;
}

.header .search-form input {
  height: 100%;
  width: 100%;
  background: none;
  /* do not capitalize the text */
  text-transform: none;
  font-size: 1.6rem;
  color: #06060a;
  padding: 0 1rem;
}

.header .search-form label {
  font-size: 2.2rem;
  padding-right: 1.5rem;
  color: #06060a;
  cursor: pointer;
}

.header .search-form label:hover {
  color: #32cd32;
}

.header .login-form {
  position: absolute;
  top: 110%;
  right: -110%;
  width: 30rem;
  /* add a box shadow to create a lifted effect */
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
  /* round the corners */
  border-radius: 0.5rem;
  background: #fff;
  text-align: center;
}

/* adjust styles when login form is visible */
.header .login-form.show {
  right: 2rem;
  transition: 0.4s linear;
}

/* comment from here*/
.header .login-form a {
  color: #32cd32;
}

.login {
  font-size: 2rem;
  text-transform: uppercase;
}

.header .login-form .box {
  margin: 0.7rem 0;
  background: #eee;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.6rem;
  color: #06060a;
  text-transform: none;
}
.header .login-form p {
  font-size: 1.4rem;
  padding: 0.5rem 0;
  color: #06060a;
}

.header .login-form a {
  text-decoration: underline;
}

.c-item {
  height: 50rem;
}

.c-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center; /* Adjust as needed */
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.card {
  border: none;
  margin-top: 1.5rem;
}

.card-body {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
}

.button-wrapper {
  margin-top: auto;
  display: flex;
  margin-left: 5rem;
}

.card-img-top {
  border: none;
  object-fit: contain;
  height: 20rem;
  margin-top: 1.5rem;
}

.custom-img {
  height: 20rem;
  width: 100%;
  object-fit: contain; /* Maintain aspect ratio and fill container */
}

.btn.btn-primary,
.btn.btn-outline-secondary {
  margin-top: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 2.5rem;
  font-size: 1.8rem;
  /* round the corners and add a border */
  border-radius: 0.5rem;
  border: 0.2rem;
  background-color: #eee;
  color: #06060a;
  text-decoration: none;
}

.add-voucher {
  margin-top: 9rem;
}
.card-image {
  position: relative; /* This allows us to use absolute positioning for children */
}

.card-icon {
  position: absolute;
  top: 1rem; /* Adjust this value as needed */
  right: 1rem; /* Adjust this value as needed */
  z-index: 10; /* Ensure the icon appears above the image */
}
.btn.btn-outline-secondary {
  height: 5rem;
  width: 5rem;
  margin-left: 2rem;
  border-radius: 50%;
}

.btn.btn-primary:hover,
.btn.btn-outline-secondary:hover {
  background: #32cd32;
  color: #fff;
}

.content {
  flex: 1 0 auto; /* This makes the .content element take up all available space */
}

.voucher-code {
  margin: 2rem 0rem;
  font-size: 2rem;
}

.swiper-slide.box {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  overflow: hidden; /* hides the portion of the image that extends beyond the box */
}

#dealDetails {
  font-size: 1.6rem;
}

.image-section {
  width: 100%;
  height: 50%;
  overflow: hidden; /* hides the portion of the image that extends beyond the section */
}

.text-section {
  width: 100%;
  height: 50%;
  padding: 1rem;
}

.fit-image {
  width: 100%; /* makes the image take up the full width of the box */
  height: 100%; /* makes the image take up the full height of the box */
  object-fit: cover; /* scales the image as large as possible without stretching/distorting */
  object-position: center;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  color: #fff;
  text-align: center;
}

.footer .text-muted {
  font-size: 1.2rem;
}

.btn-social-icon {
  height: 4.5rem;
  width: 4.5rem;
  padding: 1rem;
  margin: 0.5rem;
  text-align: center;
  font-size: 2rem;
  border-radius: 50%;
  border: none;
  color: #fff;
}

.btn-facebook {
  background-color: #6c757d;
}

.btn-twitter {
  background-color: #55acee;
}

.btn-instagram {
  background-color: #dd4b39;
}

.content {
  width: 80%;
  max-width: 120rem;
}

.create-account-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12rem;
}

.section-box {
  width: 100%;
  margin: 10rem;
  background-color: #fff;
  padding: 10rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 1.6rem;
}

.centre {
  text-align: center;
}

.red {
  color: red;
  font-weight: bold;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-control {
  width: 100%;
  padding: 1rem;
  border: 0.1rem solid #ddd;
  border-radius: 4rem;
}

#min-password {
  margin-top: -1rem;
  margin-bottom: 1rem;
}

/* Target the button using its ID */
#registerButton {
  display: block; /* Make the button a block element */
  width: 13rem; /* Set a specific width - adjust as needed */
  margin: 2px auto; /* Center the button horizontally */
  padding: 1rem;
  /* Add other styles as needed */
}

.container-box {
  margin-top: 12rem;
}

/* on merchants page
*/
.image-container {
  width: 6rem;
  height: 6rem;
  overflow: hidden;
}

.add-deal {
  margin-top: 10.5rem;
}

.form-label {
  font-size: 1.5rem;
}

/* media queries */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }

  .header .navbar {
    position: absolute;
    top: 110%;
    right: -110%;
    width: 30rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background: #fff;
  }
  .header .navbar.show {
    right: 2rem;
    transition: 0.4s linear;
  }
  .header .navbar .links .menu {
    font-size: 2rem;
    display: block;
    text-align: left;
    width: 15rem;
    height: 12rem;
    margin-left: 0.5rem;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
